<h3>Comments</h3>

<div id="comments">
  <% if @comments.any? %>
    <% @comments.each do |post| %>
      <div class="comment" id="<%= post.id %>">
        <div class="avatar">
          <%= image_tag post.user.avatar %>
        </div>
        <div class="content">
          <%= post.comment %>
          <footer>
            Posted by <%= post.user.name %> on <%= post.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B %e, %Y") %>
          </footer>
        </div>
      </div>
    <% end %>
  <% end %>
</div>