<section class="contact">
  <h3>Let's talk!</h3>

  <%= form_for @message do |f| %>
    <div class="name">
      <%= f.label :name, "Name" %>
      <%= f.text_field :name %>
    </div>

    <div class="email">
      <%= f.label :email, "Email Address" %>
      <%= f.email_field :email %>
    </div>

    <div class="message">
      <%= f.label :body, "Message" %>
      <%= f.text_area :body %>
    </div>

    <div>
      <%= button_tag "Send Message" %>
    </div>
  <% end %>
</section>