<section class="all blogs">
  <h3>Blog</h3>

  <div class="blog-list">
    <% @blogs.each do |blog| %>
      <div class="blog">
        <h4><%= link_to blog.title, blog %></h4>

        <aside class="date">
          <%= blog.published_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B %e, %Y") %>
        </aside>

        <article>
          <%= truncate(blog.body, length: 400) do %>
            <%= link_to "Continue reading", blog  %>
          <% end %>
        </article>
      </div>
    <% end %>
  </div>

  <%= paginate @blogs %>
</section>
