<article class="blog">
  <h3><%= @blog.title %></h3>
  <p class="date"><%= @blog.published_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B %e, %Y") %></p>

  <%= simple_format(@blog.body) %>

  <div id="comments">
    <hr>
    <h4>Comments</h4>

    <div class="comment-list">
      <% if @comments.any? %>
        <%= render partial: 'shared/comment', collection: @comments %>
      <% else %>
        <p>Be the first to comment on this blog!</p>
      <% end %>
    </div>

    <div class="comment">
      <% if current_user %>
        <%= form_for [@blog, @comment] do |f| %>
          <div class="avatar">
            <%= image_tag current_user.avatar %>
          </div>
          <div class="content">
            <%= f.text_area :comment %>
            <%= f.button 'Post comment' %>
          </div>
        <% end %>
      <% else %>
        <%= button_to auth_at_provider_path('github'), method: :get do %>
          <i class="fa fa-github"></i>
          Sign in with GitHub
        <% end %>
      <% end %>
    </div>
  </div>
</article>
