<nav>
  <ul>
    <li>
      <%= link_to admin_users_path do %>
        <i class="fa fa-users"></i>
        <span>Users</span>
      <% end %>
    </li>
    <li>
      <%= link_to admin_comments_path do %>
        <i class="fa fa-comment"></i>
        <span>Comments</span>
      <% end %>
    </li>
    <li>
      <%= link_to admin_about_edit_path do %>
        <i class="fa fa-user"></i>
        <span>About</span>
      <% end %>
    </li>
    <li>
      <%= link_to admin_projects_path do %>
        <i class="fa fa-folder-open"></i>
        <span>Projects</span>
      <% end %>
    </li>
    <li>
      <%= link_to admin_blogs_path do %>
        <i class="fa fa-book"></i>
        <span>Blogs</span>
      <% end %>
    </li>
    <li>
      <%= link_to admin_resource_index_path do %>
        <i class="fa fa-link"></i>
        <span>Resources</span>
      <% end %>
    </li>
  </ul>
</nav>