<div class="message">
  <h3>Message</h3>

  <ul class="details">
    <li>
      <strong>Name:</strong>
      <%= @message.name %>
    </li>

    <li>
      <strong>Email:</strong>
      <%= @message.email %>
    </li>

    <li>
      <strong>Date:</strong>
      <%= @message.created_at.strftime("%B %d, %Y") %>
    </li>

    <% if @message.ip_address %>
      <li><strong>IP Address:</strong> <%= @message.ip_address %></li>
    <% end %>

  </ul>

  <%= simple_format(@message.body) %>

  <%= button_to do %>
    <i class="fa fa-envelope-o"></i>
    Mark as unread
  <% end %>
</div>