<li>
  <%= link_to "https://github.com/michaelfich", class: "github" do %>
    <i class="fa fa-github"></i>
    <span>Github</span>
  <% end %>
</li>
<li>
  <%= link_to "https://twitter.com/michael_fich", class: 'twitter' do %>
    <i class="fa fa-twitter"></i>
    <span>Twitter</span>
  <% end %>
</li>
<li>
  <%= link_to "https://ca.linkedin.com/in/michaelfich", class: 'linkedin' do %>
    <i class="fa fa-linkedin"></i>
    <span>LinkedIn</span>
  <% end %>
</li>
<li>
  <%= link_to "https://plus.google.com/u/0/110791187812874282739", class: 'google' do %>
    <i class="fa fa-google-plus"></i>
    <span>Google+</span>
  <% end %>
</li>
<li>
  <%= link_to "https://www.youtube.com/channel/UCKjONQ6tmzX9CBMRl2PW0mQ", class: "youtube" do %>
    <i class="fa fa-youtube-play"></i>
    <span>YouTube</span>
  <% end %>
</li>
