<footer class="container outer">
  <footer class="container inner">
    <header>Say hello!</header>
    <nav>
      <ul>
        <li>
          <%= link_to "https://twitter.com/michael_fich" do %>
            <i class="fa fa-2x fa-twitter"></i>
          <% end %>
        </li>

        <li>
          <%= link_to "https://plus.google.com/u/0/110791187812874282739" do %>
            <i class="fa fa-2x fa-google"></i>
          <% end %>
        </li>

        <li>
          <%= link_to "https://github.com/michael_fich" do %>
            <i class="fa fa-2x fa-github"></i>
          <% end %>
        </li>

        <li>
          <%= link_to "mailto:michael@michaelfich.com" do %>
            <i class="fa fa-2x fa-envelope"></i>
          <% end %>
        </li>

        <li>
          <%= link_to "https://ca.linkedin.com/in/michaelfich" do %>
            <i class="fa fa-2x fa-linkedin"></i>
          <% end %>
        </li>
      </ul>
    </nav>
  </footer>
</footer>
