<!--<div class="wrapper-for-content-outside-of-footer">
   Uncomment this whole section for a sticky footer. The content of the page should be inside of this .wrapper-for-content-outside-of-footer
</div>-->


<footer class="footer-2" role="contentinfo">
  <div class="footer-container">
    <ul>
      <li class="nav-link">
        <%= link_to :root do %>
          <i class="fa fa-home"></i>
          <span>home</span>
        <% end %>
      </li>

      <li class="nav-link">
        <%= link_to 'http://blog.michaelfich.com' do %>
          <i class="fa fa-rss"></i>
          <span>blog</span>
        <% end %>
      </li>

      <li class="nav-link">
        <%= link_to 'about' do %>
          <i class="fa fa-user"></i>
          <span>about</span>
        <% end %>
      </li>

      <li class="nav-link">
        <%= link_to '#portfolio' do%>
          <i class="fa fa-folder-open"></i>
          <span>portfolio</span>
        <% end %>
      </li>

      <li class="nav-link">
        <%= link_to '#contact' do%>
          <i class="fa fa-comment"></i>
          <span>contact</span>
        <% end %>
      </li>
    </ul>

    <div class="footer-secondary-links">
      <ul class="footer-social">
        <li>
          <%= link_to "https://twitter.com/michael_fich" do %>
            <i class="fa fa-twitter"></i>
          <% end %>
        </li>

        <li>
          <%= link_to "https://plus.google.com/u/0/110791187812874282739" do %>
            <i class="fa fa-google"></i>
          <% end %>
        </li>

        <li>
          <%= link_to "https://github.com/michael_fich" do %>
            <i class="fa fa-github"></i>
          <% end %>
        </li>

        <li>
          <%= link_to "mailto:michael@michaelfich.com" do %>
            <i class="fa fa-envelope"></i>
          <% end %>
        </li>

        <li>
          <%= link_to "https://ca.linkedin.com/in/michaelfich" do %>
            <i class="fa fa-linkedin"></i>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</footer>