<footer>
  <ul>
    <li>
      <%= link_to :root do %>
        <i class="fa fa-home"></i>
        <span>home</span>
      <% end %>
    </li>
    <li>
      <%= link_to 'http://blog.michaelfich.com' do %>
        <i class="fa fa-rss"></i>
        <span>blog</span>
      <% end %>
    </li>
    <li>
      <%= link_to 'about' do %>
        <i class="fa fa-user"></i>
        <span>about</span>
      <% end %>
    </li>
    <li>
      <%= link_to '#portfolio' do%>
        <i class="fa fa-folder-open"></i>
        <span>portfolio</span>
      <% end %>
    </li>
    <li>
      <%= link_to '#contact' do%>
        <i class="fa fa-comment"></i>
        <span>contact</span>
      <% end %>
    </li>
  </ul>
</footer>