<nav role="navigation" class="primary">
  <%= link_to "#", class: 'toggle' do %><i class="fa fa-bars"></i><% end %>
  <ul>
    <li class="home">
      <%= link_to :root do %>
      <i class="fa fa-home"></i> <span>Home</span>
      <% end %>
    </li>
    <li class="about">
      <%= link_to :about do %>
      <i class="fa fa-user"></i> <span>About</span>
      <% end %>
    </li>
    <li class="projects">
      <%= link_to :projects do%>
      <i class="fa fa-folder-open"></i> <span>Projects</span>
      <% end %>
    </li>
    <li class="blog">
      <%= link_to blogs_path do %>
      <i class="fa fa-book"></i> <span>Blog</span>
      <% end %>
    </li>
    <li class="contact">
      <%= mail_to 'michael@michaelfich.com' do%>
      <i class="fa fa-envelope"></i> <span>Contact</span>
      <% end %>
    </li>
  </ul>
</nav>
