<%= form_for [:admin, @project], html: { multipart: true } do |f| %>
  <div class="field">
    <%= f.label :title, 'Name' %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :slug %>
    <%= f.text_field :slug %>
  </div>
  <div class="field">
    <%= f.label :order %>
    <%= f.text_field :order %>
  </div>
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :url, 'URL' %>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :web_address, 'Display Web Address' %>
    <%= f.text_field :web_address %>
  </div>
  <div class="field">
    <%= f.label :repo, 'GitHub Repository Name' %>
    <%= f.text_field :repo %>
  </div>
  <div class="field">
    <%= f.label :summary %>
    <%= f.text_area :summary, class: 'summary' %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :featured, 'Featured on the home page' %>
    <label class="label-switch">
      <%= f.check_box :featured %>
      <div class="checkbox"></div>
    </label>
  </div>
  <div class="field">
    <%= f.label :display, 'Display the project' %>
    <label class="label-switch">
      <%= f.check_box :display %>
      <div class="checkbox"></div>
    </label>
  </div>
  <div class="field">
    <%= f.label :completed, 'Project has been completed' %>
    <label class="label-switch">
      <%= f.check_box :completed %>
      <div class="checkbox"></div>
    </label>
  </div>
  <div class="field">
    <%= f.button %>
  </div>
<% end %>