<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu"><i class="fa fa-bars"></i></a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><%= link_to 'blog', 'http://blog.michaelfich.com' %></li>
        <li class="nav-link"><%= link_to 'about', '#about' %></li>
        <li class="nav-link"><%= link_to 'portfolio', '#portfolio' %></li>
        <li class="nav-link"><%= link_to 'skills', '#skills' %></li>
        <li class="nav-link"><%= link_to 'contact', '#contact' %></li>
      </ul>
    </nav>
  </div>
</header>
