<div class="show project">
  <h3><%= @project.title %></h3>

  <aside class="thumbnail">
    <div class="image">
      <%= render partial: 'projects/image', locals: { project: @project } %>
      <% unless @project.completed? %>
      <aside class="in-development">
        <div class="ribbon">
          In Development
        </div>
      </aside>
    <% end %>
    </div>

    <ul class="links">
      <li class="github">
        <i class="fa fa-github"></i>
        michaelfich / <%= link_to @project.repo, "https://github.com/michaelfich/#{@project.repo}" %>
      </li>
      <li class="url">
        <i class="fa fa-link"></i>
        <%= link_to @project.web_address, @project.url %>
      </li>
    </ul>
  </aside>

  <article>
    <%= simple_format(@project.summary) %>
    <%= simple_format(@project.description) %>
  </article>
</div>
