<div class="show project">
  <h3><%= @project.title %></h3>

  <aside class="thumbnail">
    <div class="image">
      <%= render partial: 'projects/image', locals: { project: @project } %>
      <% unless @project.completed? %>
      <aside class="in-development">
        <span class="ribbon">In Development</span>
      </aside>
    <% end %>
    </div>

    <ul class="links">
      <li class="github">
        <i class="fa fa-github"></i>
        michaelfich /
        <%= link_to @project.repo, "https://github.com/michaelfich/#{@project.repo}", target: "_blank" %>
      </li>
      <% unless @project.web_address.blank? %>
        <li class="url">
          <i class="fa fa-link"></i>
          <%= link_to @project.web_address, @project.url, target: "_blank" %>
        </li>
      <% end %>
    </ul>
  </aside>

  <article>
    <%= simple_format(@project.summary) %>
    <%= simple_format(@project.description) %>
  </article>
</div>
