<div class="project">
  <h3><%= @project.title %></h3>

  <div class="image">
    <%= render partial: 'projects/image', locals: { project: @project } %>
    <% unless @project.completed? %>
      <aside class="in-development">
        <div class="ribbon">
          In Development
        </div>
      </aside>
    <% end %>
  </div>

  <article>
    <%= simple_format(@project.description) %>
  </article>

  <ul>
    <li>
      <%= link_to @project.repo do %>
        <i class="fa fa-github"></i>
        <span><%= @project.repo %></span>
      <% end %>
    </li>
    <li>
      <%= link_to @project.url do %>
        <i class="fa fa-link"></i>
        <span><%= @project.url %></span>
      <% end %>
    </li>
  </ul>
</div>
