<%= form_for [:admin, @blog] do |f| %>
  <div class="field">
    <%= f.label :title, "Title" %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :slug, "URL Slug" %>
    <%= f.text_field :slug %>
  </div>
  <div class="field">
    <%= f.label :published %>
    <label class="label-switch">
      <%= f.check_box :published %>
      <div class="checkbox"></div>
    </label>
  </div>
  <div class="field">
    <%= f.label :body, "Content" %>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.button "Save" %>
    <% unless @blog.new_record? %>
      <%= link_to "Delete Blog Post", admin_blog_path, method: :delete %>
    <% end %>
  </div>
<% end %>
