<!DOCTYPE html>
<html>
<head>
  <title>Michael Fich | Software Engineer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: 'shared/flash' %>

  <div class="container">
    <h1>michaelfich.com</h1>
    <h2>Administrator Control Panel</h2>

    <% if current_user %>
      <aside>
        Currently logged in as <%= current_user.name %>.  <%= link_to "Logout", :logout_user  %>
      </aside>
    <% end %>

    <%= render partial: 'admin/navbar' %>

    <%= yield %>
  </div>

</body>
</html>
