<!DOCTYPE html>
<html>
<head>
  <title>Michael Fich | Ruby on Rails Developer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: 'shared/flash' %>

  <div class="container">
    <h1>michaelfich.com</h1>
    <h2>Administrator Control Panel</h2>

    <% if current_user %>
      <aside>
        Currently logged in as <%= current_user.name %>.  <%= link_to "Logout", :logout_user  %>
      </aside>
    <% else %>
      <aside>
        Not currently logged in.
      </aside>
    <% end %>

    <nav>
      <ul>
        <li>
          <%= link_to root_url do %>
            <i class="fa fa-home"></i>
            <span>Home</span>
          <% end %>
        </li>
        <li>
          <%= link_to admin_about_edit_path do %>
            <i class="fa fa-user"></i>
            <span>About</span>
          <% end %>
        </li>
        <li>
          <%= link_to admin_projects_path do %>
            <i class="fa fa-folder-open"></i>
            <span>Projects</span>
          <% end %>
        </li>
        <li>
          <%= link_to admin_blogs_path do %>
            <i class="fa fa-book"></i>
            <span>Blogs</span>
          <% end %>
        </li>
      </ul>
    </nav>

    <%= yield %>
    <%#= render partial: 'shared/footer' %>
  </div>

</body>
</html>
